@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
body {
    max-width: 1440px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    position: relative;
    background-color: hsl(0, 0%, 100%);
    max-width: 250px;
    border-radius: 10px;
    text-align: center;
}

.container .card .img-qr {
    text-align: center;
    margin: 15px 0;
}

.container .card .img-qr img {
    width: 220px;
    border-radius: 10px;
}

.container .card .parg p {
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-weight: 700;
    margin: 5px 20px;
}

.container .card .parg-2 p {
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    margin: 15px 20px;
}


/* Mobile 375 */

@media only screen and (max-width: 375px) {
    body {
        width: 100%;
    }
    .container {
        width: 100%;
    }
}